groups:
- name: app-alerts
  rules:
  - alert: HighErrorRate
    expr: rate(http_requests_total{status="500"}[5m]) > 5
    for: 2m
    labels:
      severity: critical
    annotations:
      description: App is failing.
